## Python Variables

In [11]:
# assign variables
x = 10 #integer
y = 3.142 #float
name = "Bernard" #string
is_active = True  #boolean

In [18]:
whos

Variable    Type     Data/Info
------------------------------
c           float    9.872164
is_active   bool     True
name        str      Bernard
x           int      10
y           float    3.142

In [12]:
name

'Bernard'

In [25]:
c = round(y**2, 4)

In [26]:
type(c)

float

In [28]:
print(x, y, name, is_active)

10 3.142 Bernard True

In [30]:
# Multiple Assignments
x, y, z = 5, 10.5, "Python"
print(x, y, z)

5 10.5 Python

In [31]:
# Dynamic Typing - Variables can change types
var = 100       # Initially an integer
print(var, type(var))
var = "Now I'm a string!"
print(var, type(var))

100 <class 'int'>
Now I'm a string! <class 'str'>

In [32]:
# Basic Data Structures
my_list = [1, 2, 3, "four"]  # List (mutable)
my_tuple = (10, 20, 30)      # Tuple (immutable)
my_set = {1, 2, 3, 3}        # Set (unique values)
my_dict = {"name": "Bob", "age": 25}  # Dictionary (key-value pairs)

In [34]:
# Constants (By convention, uppercase)
PI = 3.14159
MAX_LIMIT = 100

In [35]:
whos

Variable    Type     Data/Info
------------------------------
MAX_LIMIT   int      100
PI          float    3.14159
c           float    9.8722
is_active   bool     True
my_dict     dict     n=2
my_list     list     n=4
my_set      set      {1, 2, 3}
my_tuple    tuple    n=3
name        str      Bernard
var         str      Now I'm a string!
x           int      5
y           float    10.5
z           str      Python

In [36]:
num_cups = 4
time =6

In [38]:
for

SyntaxError: invalid syntax (2226691970.py, line 1)